# FLASK_DEBUG=True
# DBNAME=<database-name>
# DBHOST=<database-hostname>
# DBUSER=<db-user-name>
# DBPASS=<db-password>
# CACHELOCATION=<redis-cache-url>
FLASK_DEBUG=True
DBNAME=FIRST_SAMPLE_DATABASE
DBHOST=localhost
DBUSER=postgres
DBPASS=727272
CACHELOCATION=<redis-cache-url>
