{% extends "base.html" %}
{% block title %}Restaurant Details{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
  </style>
{% endblock %}
{% block content %}
  <h1>{{ restaurant.name }}</h1> 
  <div class="row">
      <div class="col-md-2 fw-bold">Street address:</div>
      <div class="col">{{ restaurant.street_address }}</div>
  </div>
  <div class="row">
      <div class="col-md-2 fw-bold">Phone Number:</div>
      <div class="col">{{ restaurant.description }}</div>                
  </div>
  <!-- <div class="row">
      <div class="col-md-2 fw-bold">Rating:</div>
      <div class="col"></div>                
  </div> -->

  <h4 class="mt-5">Items</h4>

  <p>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addReviewModal">
          Add new item
      </button>
  </p>

<!-- Button trigger modal -->
    {% if reviews %}
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Product Description</th>
                    <th>Price</th>
                    <th>TotalPrice</th>
                </tr>
            </thead>
            <tbody>
                {% for review in reviews %}
                    <tr>
                        <td>{{ review.review_date }}</td>
                        <td>{{ review.user_name }}</td>
                        <td>{{ review.rating }}</td>
                        <td>{{ review.review_text }}</td>
                        <td>{{ review.price }}</td>
                        <td>{{ review.price * review.rating if review.price and review.rating else "N/A" }}</td>
                        <td>
                          <!-- Delete Button -->
                          <form method="POST" action="{{ url_for('delete_item', id=restaurant.id, review_id=review.id) }}" style="display:inline;">
                              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                          </form>
                      </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No reviews of this restaurant yet.</p>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="addReviewModal" tabindex="-1" aria-labelledby="addReviewModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addReviewModalLabel">Add Item</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
              <form method="POST" action="{{ url_for('add_review', id=restaurant.id) }}">

              <div class="modal-body">

                <div class="mb-3">                        
                    <label for="user_name" class="form-label fw-bold">Item name</label>
                    <input type="text" class="form-control" id="user_name" name="user_name">
                  </div>
                 
                  <div class="mb-3">
                    <label for="rating" class="form-label fw-bold">Quantity</label>
                    <input type="number" class="form-control" id="rating" name="rating">
                </div>
                  <div class="mb-3">
                      <label for="review_text" class="form-label fw-bold">Product Description</label>
                      <input type="text" class="form-control" id="review_text" name="review_text">
                  </div>
                  <div class="mb-3">
                    <label for="price" class="form-label fw-bold">Price</label>
                    <input type="number" class="form-control" id="price" name="price">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
        </form>
        </div>
      </div>
    </div>

{% endblock %}
